.header__logo {
  background-image: url(../../wlogo.svg);
  background-size: auto 50px !important;
  background-repeat: no-repeat !important;
  height: 50px !important;
  width: 300px !important;
}

.header__logo {
}

.header__wallet {
  display: flex;
}
.header__wallet-user {
  background: #fdfff9;
  color: #96c;
  border: 4px solid #000;
  text-align: center;
  font-size: 18px;
  padding: 8px 18px;
  line-height: 1;
  -webkit-box-shadow: 6px 6px 0 #000;
  box-shadow: 6px 6px 0 #000;
  padding: 12px 20px;
}

.header__wallet-network {
  /* -webkit-align-self: center; */
}

.installMetaMask {
  font-size: 0.9rem;
  font-weight: 600;
  color: #551a8b;
  text-decoration: underline;
}

/* navbar */
.Navbarx {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ant-input-affix-wrapper {
  /* border-top-left-radius: 50px !important; */
  border-radius: 10px !important;
  /* border-bottom-left-radius: 50px !important; */
  width: 900px !important;
  padding: 10px !important;
}

.ant-input::placeholder {
  color: #a3a3a3 !important;
  font-size: 1rem;

  font-weight: 500;
}

.site-form-item-icon {
  font-size: 1.4rem;
  margin-right: 0.8rem;
  margin-left: 0.5rem;
  color: #a8aeb3 !important;
}

.nav-item .nav-link {
  font-size: 17px !important;
  color: black !important;
  font-weight: 700;
  padding-right: 1rem !important;
}
.nav-item.active {
  border-bottom: 3px solid rgba(0, 0, 255, 0.582);
  /* padding: 20px; */
}
@media (min-width: 300px) {
  .ant-input-affix-wrapper {
    width: 150px !important;
  }
  .Navbarx {
    width: 26rem !important;
  }
  body 
  {
    overflow-x: hidden !important;
  }
  /* .navbar-collapse .navbar-nav {
    margin-left: 2rem !important;
  }

  .navbar-collapse .navbar-nav .nav-item.nav-item.active {
    width: 50px !important;
  } */
}
@media (min-width: 360px) {
  .Navbarx {
    width: 29.7rem !important;
  }
}

@media (min-width: 400px) {
  .Navbarx {
    width: 32rem !important;
  }
}

@media (min-width: 567px) {
  .Navbarx {
    width: 46rem !important;
  }
}

@media (min-width: 767px) {
  .Navbarx {
    width: 51rem !important;
  }
   
}
@media (min-width: 800px) {
  .Navbarx {
    width: 55rem !important;
  }
}
@media (min-width: 992px) {
  /* .navbar-collapse .navbar-nav {
    margin-left: 28rem !important;
  }

  .navbar-collapse .navbar-nav .nav-item.nav-item.active {
    width: 100% !important;
  } */
  .Navbarx {
    width:100% !important;
  }
  body 
  {
    overflow-x: hidden !important;
  }
 
}
 
@media (min-width: 1302px) {
  .ant-input-affix-wrapper {
    width: 900px !important;
  }
  .Navbarx {
    width:100% !important;
      
  }
  
  /* .navbar-collapse .navbar-nav {
    margin-left: 25rem !important;
  }

  .navbar-collapse .navbar-nav .nav-item.nav-item.active {
    width: 100% !important;
  } */
  body 
  {
    overflow-y: hidden !important;
  }
}

.ant-switch {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 80px !important;
  height: 40px !important;
  line-height: 22px;
  vertical-align: middle;
  background-color: black !important;
  border: 0;
  /* border-radius: 100px; */
  cursor: pointer;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 !important;
}

.ant-switch-handle::before {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: green !important;
  border-radius: 0px !important;

  border: none;
  box-shadow: 0 2px 4px 0 rgb(0 35 11 / 20%) !important ;
  transition: all 0.2s ease-in-out !important;
  content: "" !important;
}
.ant-switch-handle {
  position: absolute;
  cursor: pointer;
  top: -2px;
  left: 2px;
  width: 25px !important;
  height: 28px !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background: #33c8a1 !important;
  -webkit-box-shadow: 7px 7px 0 #26957c, 6px 6px 0 #26957c, 5px 5px 0 #26957c,
    4px 4px 0 #26957c, 3px 3px 0 #26957c, 2px 2px 0 #26957c, 1px 1px 0 #26957c;
  box-shadow: 7px 7px 0 #26957c, 6px 6px 0 #26957c, 5px 5px 0 #26957c,
    4px 4px 0 #26957c, 3px 3px 0 #26957c, 2px 2px 0 #26957c, 1px 1px 0 #26957c;
}

.ant-checkbox-inner {
  background-color: var(--swapCardModelConentGlobal) !important;
  color: white !important;
  width: 80px !important;
  height: 80px !important;
  /* padding: 10px; */
  border-radius: 10px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #31d0aa !important;
}
.ant-checkbox-checked .ant-checkbox-inner::after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg) scale(1) translate(-50%, -50%);
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  content: " ";
  /* width: 25px; */
}

.ant-checkbox + span {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
  margin-bottom: -3rem;
}

.toogleText {
  font-size: 1.3rem;
}

/* 

 
.navbar-toggler.collapsed  .navbar-collapse .show .navbar-nav
{
  margin-left: 2rem !important;
}


.navbar-collapse .navbar-nav .nav-item.nav-item.active 
{
  width: 50px !important;
} */
